:root {
  --main-bg-color: rgb(37, 37, 35);
  --text-color: rgb(35, 250, 221);
  --font: 'MedievalSharp';
  --border: 1px solid var(--text-color);
}

body {
  background-color: var(--main-bg-color);
}

div {
  padding: 10px 20px;
}

.outline {
  border: var(--border);
  margin: 10px;
  text-align: center;
  width: 50%;
  background-color: var(--main-bg-color);
}

button:hover {
  background-color: darkslategrey;
  cursor: pointer;
}

h1,
p {
  color: var(--text-color);
  font-family: var(--font);
}

p {
  font-size: large;
}
